@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-09-07 19:30:30
 * @version $Id$
 */
 *{
 	margin:0;
 	padding:0;
 }
 body{
 	margin:0;
 	padding:0;
 }
 a{
 	text-decoration: none;
 }
 #wrap{
 	width:100%;
 }
 ul li{
 	list-style: none;
 }
 #head{
 	height:80px;
 	background-color: black;
 	color:white;
 }
.header{
	float:right;
	font-size: 12pt;
}
.header a{
	display: inline-block;
}
.header a:hover{
	background-color:#333;
} 
.first{
	float:left;
	width:40%;
	height: 80px;
}

.topleft{
	float:left;
	width:10%;
}
.topright{
	float:left;
	width:88%;
	padding-top: 10px;
}
.topright span{
	font-size:16pt;
	font-weight: bold;
	max-width: 90%;
	display: inline;
	overflow: hidden;
	text-overflow: ellipsis;
}
.first .bottom{
	line-height: 30px;
	margin-left:50px;
}
.header{
	margin:15px 10px;
}
.header button{
	float:right;
	color:white;
	background-color: black;
	border:1px solid #efefef;
	height:50px;
	
}
.header button:hover{
	background: #333;
}
.second button{
	
	width:100px;
	
}
.three button{
	width:100%;	
}
.show{
	display: inline-block;
	width:120px;
	height:50px;
	line-height:50px;
	border:1px solid #efefef;
	color:white;
	text-align: center;
}
.show:hover{
	background: #333;
}
.four button{
	width:100%;
}

#content{
	width:90%;
	margin:0 auto;
	background-color:#eee;
}

.sec_top {
	margin:0 auto;
	text-align: center;
}
.sec_top .p1{
	font-size:24pt;
	font-weight: bold;
	padding-top:20px;

}
.sec_top .p2{
	font-size: 18pt;
	font-weight: bold;
}
.sec_mid{
	width:90%;
	margin:0 auto;
	background-color: white;
}
.mid_src{
	border:1px solid #ddd;
}
.mid_src img{
	width:95%;
	padding:2px 26px;
}
.mid_src .text{
	font-size: 10pt;
	text-align: center;
	padding:8px 0;
}
.sec_bottom{
	width:60%;
	margin:30px auto;
}
.bottom_title{
	color: #333;
	font-weight: bold;
	font-size:16pt;
}
.bottom_list li{
	font-size: 11pt;
	line-height: 20px;
}
.list_end{
	color: #333;
	font-size:16pt;

}
.list_writer{
	color: #333;
	font-style: oblique;
	font-size: 11pt;
	margin: 10px 10px;
}
.bottom_end{
	font-size:16pt;
	color:#333;
	padding:20px 0;
}
#footer{
	text-align: center;
	font-size: 10pt;
}
.ChangeView{
	width:300px;
	height:350px;
	position: absolute;
	top: 80px;
	right: 130px;
	background-color: #999;
	color: black;
	padding: 20px;
}
label {  
  cursor: pointer;
}
#menu-toggle {
  display: none; /* hide the checkbox */
}
#menu {
  display: none;
}
#menu-toggle:checked + #menu {
  display: block;
}


.ChangeView li{
	line-height: 35px;
	list-style: none;
}
.ChangeView li a{
	color:black;
	display: inline-block;
	height:35px;
	width:100%;
}
.ChangeView li a:hover{
	background: #333;
}
.ChangeView .question{
	display: inline-block;
	width:18px;
	height:18px;
	background: #eee;
	border-radius: 5px;
	right:0;
	margin:8px 20px 8px 0;
}
.ChangeView .question:hover{
	background: black;
}
.content{
	padding: 10px;
}
.comment{
	color: #eee;
	right:0;
	margin-right: 50px;
}
.ss{
	position: absolute;
}
.pro{
	font-size: 8pt;
	display: inline-block;
	width: 20px;
	line-height: 12px;
	border-radius:5px;
	margin-right:8px;
	background-color: yellow;
	padding: 5px;
}
.bottom-line{
	width:90%;
	margin-top: 20px;
	margin-bottom: 10px;
	height:1px;
	background: black;
}
.link{
	display: flex;
}
.link a{
	
	height:30px;
	width:40px;
	text-align: center;
}
.link a:hover{
	background-color: #333;
}

.slide
{
	border: 1px solid #fff;
    height: 35px;
    line-height: 50px;
    padding: 5px;
    text-align: center;
    width: 50px;
}
.slide a,.slide a:link{
	color: white;
	display: block;
	width: 50px;
	height: 35px;
}
.slide:hover{
	background-color: #333;
}
.nav-slide{
	display: none;
	padding:20px;
	height:300px;
	width:200px;
	background-color: #333;
	border: 1px solid rgba(0,0,0,0.5);	
	position: absolute;
	z-index: 99;
	top:80px;
	right:0;
}
.nav-slide li{
	line-height: 50px;
	font-weight: bold;
	width:100%;
	padding-left: 20px;
}
.nav-slide li:hover{
	background-color: rgba(0,0,0,0.2);
}
.nav-slide li a{
	color: #fff;
}