@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-11-06 16:12:18
 * @version $Id$
 */
*{
	margin:0;
	padding: 0;
}
ul li{
	list-style: none;
}
.tab{
	background: #353738;
	padding: 100px 0 0 100px;
	height: 800px
}
.tab .tabBar{
	width:500px;
}
.tab .tabBar ul li{
	width:120px;
	float: left;
	background-color: #999;
	border-radius: 8px 8px 0 0;
	text-align: center;
	margin-right: 5px;
}
.tab .tabBar ul li a{
	display: block;
	width:120px;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	color:#767676;
}
.tab .tabBar ul .actived{
	background-color: white;
}
.tabImage{
	clear: both;
}
.tabImage .imageItems{
	display: none;
	position: absolute;
}
.tabImage .imageItems img{
	width: 500px;
	height: 300px;
	border: 2px solid white;
}
.tabImage .current{
	display: block;
}
